[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
pydantic-settings = "*"
python-dotenv = "*"
starlette = "*"
httpx = "*"

[dev-packages]
uvicorn = "*"
black = {extras = ["d"], version = "*"}
pytest = "*"

[requires]
python_version = "3.10"
