.mission-form-container {
    width: 50%;
}

.form-container {
    color: white;
    padding: 15px;

}

.plateau-form-box {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.rover-form-box {
    display: flex;
    gap: 10px;
}

.rover-list-box {
    width: 100%;
}