@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #061A26;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1px;
  width: 200px;
  height: 200px;
}

.grid-container div {
  border: 1px solid black;
  text-align: center;
  line-height: 30px;
}

.coordinates {
  display: flex;
  justify-content: space-between;
}

.coordinates div {
  width: 20%;
  text-align: center;
}
